*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(223, 189, 255);
}

h1 {
    display: flex; 
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.container{
    display: grid;
    margin: auto;
    margin-top: 40px;
    grid-template-columns:repeat(16,1fr);
    min-width: 600px;
    min-height: 600px;
    max-width: 600px; 
    max-height: 600px;
    border-radius: 20px;
}

.content {
    border: 1px solid;
    aspect-ratio:1/1;
    border-radius: 20px;
    background-color: white;
}

button {
    border-radius: 10px;
    background-color: white;
    width: 90px;
    height: 40px;
    font-size: small;
    box-shadow: 5px 5px rgb(170, 169, 169);
}

.button {
    display: flex;
    justify-content: center;
    
}